<div *ngIf="fetchingData" class="status-section">
  <div class="mb-2 align-items-center"><fa-icon [icon]="clockIcon" pull="left"></fa-icon>Overall Status</div>
  <div class="row justify-content-center">
    <div class="col align-self-center">
      <app-spinner></app-spinner>
    </div>
  </div>
</div>

<div *ngIf="!fetchingData">
  <div class="row mb-2 mx-0 align-items-center"><fa-icon [icon]="clockIcon" pull="left"></fa-icon>Overall Status</div>
  <div class="row mb-md-5">
    <div class="card m-3 bg-success overall-card-status">
      <div class="card-body p-2">
        <div class="d-flex justify-content-end">
          <span class="text-white">UP</span><img class="status-Arrow" src="images/up_arrow.png" alt="No Image">
        </div>
        <div class="ml-2 overall-value-status">{{up}}</div>
      </div>
    </div>
    <div class="card m-3 bg-danger overall-card-status">
      <div class="card-body p-2">
        <div class="d-flex justify-content-end">
          <span class="text-white">DOWN</span><img class="status-Arrow" src="images/down_arrow.png" alt="No Image">
        </div>
        <div class="row ml-2 overall-value-status">{{down}}</div>
      </div>
    </div>
    <div class="card m-3 bg-info overall-card-status">
      <div class="card-body p-2">
        <div class="d-flex justify-content-end">
          <span class="text-white">PAUSE</span><img class="status-Arrow" src="images/pause.png" alt="No Image"></div>
        <div class="row ml-2 overall-value-status">{{pause}}</div>
      </div>
    </div>
  </div>
</div>