.status-section {
	padding: 15px 15px;
  min-height: 10rem;
}

.status-Arrow {
  height: 1rem;
  margin: .2rem;
}

.overall-card-status {
  width: 12rem;
}

.overall-value-status {
  font-size: 3rem;
  color: #fff;
}

.card {
  border-radius: 0.5rem !important;
}

@media only screen and (max-width: 1500px) {
  
}

@media only screen and (max-width: 1024px) {
  
}

@media only screen and (max-width: 767px) {
  .status-section {
    min-height: 240px;
  }
}

@media only screen and (max-width: 600px) {
  .status-section {
    min-height: 260px;
  }
  .overall-card-status {
    width: 25rem;
  }
  
}

@media only screen and (max-width: 500px) {

  .status-section {
    min-height: 230px;
  }

  .overall-card-status {
    width: 23rem;
  }
}

@media only screen and (max-width: 360px) {

.status-section {
  min-height: 210px;
}

.overall-card-status {
  width: 20rem;
}
}