p {
  font-family: Lato;
}

body {
  font-family: 'Lato', sans-serif;
}

.navbar-brand {
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .navbar-brand {
    cursor: pointer;
    font-size: 0.9rem;
  }
}
