<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
  <span routerLink='' class="navbar-brand mb-0">Karnataka Portals Availability Dashboard</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#kpadSideBtn" aria-controls="navbarSupportedContent" 
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="kpadSideBtn">
    <ul class="navbar-nav mr-auto"></ul>
    <form class="form-inline my-2 my-lg-0 input-group-sm">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <fa-icon class="mx-2" [icon]="faCog" pull="left"></fa-icon>
    <fa-icon class="mx-2" [icon]="faBell" pull="left"></fa-icon>
    <fa-icon class="mx-2" [icon]="faUser" pull="left"></fa-icon>
  </div>
</nav>
<router-outlet></router-outlet>
