p {
  font-family: Lato;
}

body {
  font-family: 'Lato', sans-serif;
}

.navbar-brand {
  cursor: pointer;
}

.navbar-custom {
  box-shadow: 2px 4px 14px 2px #ccc5c5b5;
  top: 0;
  z-index: 1000;
  background: white;
  position: sticky;
}

@media only screen and (max-width: 767px) {
  .navbar-brand {
    cursor: pointer;
    font-size: 0.9rem;
  }
}
