<div class="row justify-content-center second-widget">
  <div *ngIf="!fetchingData" class="custom-table-border table-responsive mx-3">
    <table class="table" aria-describedby="Site Overview">
      <thead>
        <tr>
          <th scope="col"><fa-icon [icon]="glob" pull="left"></fa-icon>Website</th>
          <th scope="col"><fa-icon [icon]="checkICon" pull="left"></fa-icon>Availability</th>
          <th scope="col"><fa-icon [icon]="clockIcon" pull="left"></fa-icon>Responsetime</th>
          <th scope="col"><fa-icon [icon]="errorIcon" pull="left"></fa-icon>Errors</th>
          <th scope="col"><fa-icon [icon]="laptopIcon" pull="left"></fa-icon>Contact Success Rate</th>
          <th scope="col"><fa-icon [icon]="userIcon" pull="left"></fa-icon>User Access Matrics</th>
          <th scope="col"><fa-icon [icon]="location" pull="left"></fa-icon>Location</th>
        </tr>
       </thead>
      <tbody>
          <tr *ngFor="let status of siteStatuses; let i = index" (click) = "gotoDetailPage(status.target, status.target_type, i)">
            <th scope="row" data-toggle="tooltip" data-placement="right" title="{{status.target}}" style="vertical-align: middle;">
              <fa-icon *ngIf="status.status == 'green'" [icon]="up" [styles]="{'stroke': 'green', 'color': 'green'}" pull="left"></fa-icon>
              <fa-icon *ngIf="status.status == 'red'" [icon]="down" [styles]="{'stroke': 'red', 'color': 'red'}" pull="left"></fa-icon>
              <fa-icon *ngIf="status.status == 'amber'" [icon]="pause" [styles]="{'stroke': 'amber', 'color': 'amber'}" pull="left"></fa-icon>
              {{status.title}} <fa-icon [icon]="infoIcon" size="xs" [styles]="{'margin-left': '.5rem', 'stroke': 'dimgray', 'color': 'dimgray'}"></fa-icon>
            </th>
            <td class="text-center">{{status.metrics.avg_availability}}</td>
            <td class="text-center">{{status.metrics.avg_responsetime}}</td>
            <td class="text-center">{{status.metrics.error_count}}</td>
            <td class="text-center">{{status.metrics.total_hits}}/{{status.metrics.error_count}}</td>
            <td class="text-center">NA</td>
            <td class="text-center">
              <select *ngIf="status.agent_list && status.agent_list.length > 1; else elseBlock" 
                class="custom-select custom-select-sm" [(ngModel)]= "status.selectedAgent"  
                (ngModelChange) = "selectTheAgent(status)" (click)="onSelect($event)" >
                <option [value]="undefined" >Overall</option>
                <option *ngFor="let agent of status.agent_list" [value]="agent">{{agent}}</option>
              </select>
              <ng-template #elseBlock>
                <select disabled class="custom-select custom-select-sm" [(ngModel)]= "status.agent_list[0]"  
                  data-style="btn-new"  id="{{status.title}}">
                  <option *ngFor="let agent of status.agent_list" [value]="agent">{{agent}}</option>
                </select>
              </ng-template>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="fetchingData">
    <div class="col align-self-center">
      <app-spinner></app-spinner>
    </div>
  </div>
  <app-loading *ngIf="isLoading"></app-loading>
</div>
