.card-status-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px #f1fbe3;
  border-bottom: 1px solid #a6a6a6;
}

.card-body {
  cursor:pointer;
}

.matrix-heading-style {
  font-size: .8rem;
  font-weight: 600;
}

.matrix-value-style {
  font-weight: bold;
  color: #fff;
  font-size: 1.2rem;
}
.bg-light-green {
  background-color: #92BB45;
}

.bg-orange {
  background-color: #fd7e14;
}

.bg-pink-red {
  background-color: #FF6347;
}

.second-widget{
  min-height: 5rem;
}

.second-widget .title {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
    position: relative;
}

.second-widget .title img {
    width: 100%;
}

.second-widget .title_line {
    background: #fff2cd;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 18px;
    /* padding-top: -47px; */
    position: absolute;
    left: 42%;
    top: -15px;
}

.custom-table-border {
  box-shadow: 2px 4px 14px 2px #ccc5c5b5;
  width: 100%;
  max-height: 50vh;
  overflow-y: auto;
}

.custom-table-border thead tr th {
  position: sticky;
  top: -2;
  background: #fff;
  z-index: 100;
  font-size: .9rem;
}

table tbody tr {
  cursor: pointer;
}

tbody>tr>:nth-child(7){ 
  pointer-events: none;
}

  tbody>tr>td>select{ 
    pointer-events: all;
  }

  /* .shakeText {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  } */

@media only screen and (max-width: 1024px) {
	.second-widget .title_line {
	    left: 36%;
	}
}

@media only screen and (max-width: 991px) {
  .mob-bt-bottom{
    border-bottom:1px solid #a6a6a6;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
	.second-widget.title_line {
	    left: 36%;
	}
  .second-widget {
      padding: 15px 5px;
  }
}

@media only screen and (max-width: 600px) {
	.second-widget .title_line {
	    left: 36%;
	}
  .second-widget {
      padding: 15px 5px;
  }
}

@media only screen and (max-width: 500px) {
	.second-widget .title_line {
	    left: 35.5%;
	}
  .second-widget {
      padding: 15px 5px;
  }
}

@media only screen and (max-width: 480px) {
	.second-widget .title_line {
	    left: 28%;
	}
  .second-widget {
      padding: 15px 5px;
  }
}

@media only screen and (max-width: 400px) {
	.second-widget .title_line {
	    left: 27%;
	}
  .second-widget {
      padding: 15px 5px;
  }
}

@media only screen and (max-width: 360px) {
	.second-widget .title_line {
	    left: 22%;
	}
  .second-widget {
      padding: 15px 5px;
  }
}
