<!-- <div class="row">
  <div class="col">
    <div class="second-widget">
      <div class="title">
        <img src="images/line.png" alt="">
        <span class="title_line">Site Overview</span>
      </div>
      <div *ngIf="!fetchingData" class="scroll" >
        <div *ngFor="let status of siteStatuses">
          <div class="card m-2" [ngClass]="{'bg-light-green': status.status == 'green', 'bg-pink-red': status.status == 'red'
               ,'bg-orange': status.status == 'amber'}">
            <div class="card-header card-status-title">
              <span>{{status.title}}</span>
              <div class="btn-group float-right">
                <button type="button" class="btn btn-sm dropdown-toggle text-white" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" [ngClass]="{'bg-light-green': status.status == 'green', 'bg-pink-red': status.status == 'red'
                   ,'bg-orange': status.status == 'amber'}">Overall</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item">Overall</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item">Bengaluru</a>
                  <a class="dropdown-item">Mumbai</a>
                </div>
              </div>
            </div>
            <div class="card-body p-3" (click) = "gotoDetailPage(status.target, status.target_type)">
              <div class="row">
                <div class="col-md-10">
                  <div class="row justify-content-center no-gutters">
                    <div class="col-md-4 mob-bt-bottom align-self-center text-center">
                      <div class="matrix-heading-style">Availability:</div>
                      <div class="matrix-value-style">{{status.metrics.availability_last24hrs}}</div>
                    </div>
                    <div class="col-md-4 mob-bt-bottom align-self-center text-center">
                      <div class="matrix-heading-style">Average responsetime:</div>
                      <div class="matrix-value-style">{{status.metrics.avg_responsetime_last24hrs}}</div>
                    </div>
                    <div class="col-md-4 mob-bt-bottom align-self-center text-center">
                      <div class="matrix-heading-style">Errors:</div>
                      <div class="matrix-value-style">{{status.metrics.errors_last24hrs}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 align-self-center">
                  <fa-icon *ngIf="status.status == 'green'" [icon]="up" [styles]="{'stroke': 'green', 'color': 'white'}" size="2x" class="card-img-top" pull="right"></fa-icon>
                  <fa-icon *ngIf="status.status == 'amber'" [icon]="question" [styles]="{'stroke': 'amber', 'color': 'white'}" size="2x" class="card-img-top" pull="right"></fa-icon>
                  <fa-icon *ngIf="status.status == 'red'" [icon]="down" [styles]="{'stroke': 'red', 'color': 'white'}" size="2x" class="card-img-top" pull="right"></fa-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="fetchingData" class="row justify-content-center scroll">
        <div class="col align-self-center">
          <app-spinner></app-spinner>
        </div>
      </div>
    </div>
  </div>
</div> -->



<div class="row justify-content-center second-widget">
  <div *ngIf="!fetchingData" class="custom-table-border table-responsive mx-3">
    <table class="table" aria-describedby="Site Overview">
      <thead>
        <tr>
          <th scope="col"><fa-icon [icon]="glob" pull="left"></fa-icon>Website</th>
          <th scope="col"><fa-icon [icon]="checkICon" pull="left"></fa-icon>Availability</th>
          <th scope="col"><fa-icon [icon]="clockIcon" pull="left"></fa-icon>Responsetime</th>
          <th scope="col"><fa-icon [icon]="errorIcon" pull="left"></fa-icon>Errors</th>
          <th scope="col"><fa-icon [icon]="laptopIcon" pull="left"></fa-icon>Contact Success Rate</th>
          <th scope="col"><fa-icon [icon]="userIcon" pull="left"></fa-icon>User Access Matrics</th>
          <th scope="col"><fa-icon [icon]="location" pull="left"></fa-icon>Location</th>
        </tr>
       </thead>
      <tbody>
          <tr *ngFor="let status of siteStatuses; let i = index" (click) = "gotoDetailPage(status.target, status.target_type, i)">
            <th scope="row" data-toggle="tooltip" data-placement="right" title="{{status.target}}">
              <fa-icon *ngIf="status.status == 'green'" [icon]="up" [styles]="{'stroke': 'green', 'color': 'green'}" pull="left"></fa-icon>
              <fa-icon *ngIf="status.status == 'red'" [icon]="down" [styles]="{'stroke': 'red', 'color': 'red'}" pull="left"></fa-icon>
              <fa-icon *ngIf="status.status == 'amber'" [icon]="pause" [styles]="{'stroke': 'amber', 'color': 'amber'}" pull="left"></fa-icon>{{status.title}}
            </th>
            <td class="text-center">{{status.metrics.avg_availability}}</td>
            <td class="text-center">{{status.metrics.avg_responsetime}}</td>
            <td class="text-center">{{status.metrics.error_count}}</td>
            <td class="text-center">{{status.metrics.total_hits}}/{{status.metrics.error_count}}</td>
            <td class="text-center">NA</td>
            <td class="text-center">
              <select *ngIf="status.agent_list && status.agent_list.length > 1; else elseBlock" 
                class="custom-select custom-select-sm" [(ngModel)]= "status.selectedAgent"  
                (ngModelChange) = "selectTheAgent(status)" (click)="onSelect($event)" >
                <option [value]="undefined" >Overall</option>
                <option *ngFor="let agent of status.agent_list" [value]="agent">{{agent}}</option>
              </select>
              <ng-template #elseBlock>
                <select disabled class="custom-select custom-select-sm" [(ngModel)]= "status.agent_list[0]"  
                  data-style="btn-new"  id="{{status.title}}">
                  <option *ngFor="let agent of status.agent_list" [value]="agent">{{agent}}</option>
                </select>
              </ng-template>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="fetchingData">
    <div class="col align-self-center">
      <app-spinner></app-spinner>
    </div>
  </div>
  <app-loading *ngIf="isLoading"></app-loading>
</div>
