<!-- <div class="container-fluid mt-3">
  <div class="row justify-content-center">
    <div class="col-md-5 mb-3">
      <div class="first-widget">
        <div class="row">
          <div class="col">
            <app-overall-status></app-overall-status>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <app-incidents></app-incidents>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <app-individual-status></app-individual-status>
    </div>
  </div>
</div> -->



<div class="container-fluid mt-3">
  <div class="row mx-sm-1">
    <div class="col px-sm-3">
      <app-overall-status></app-overall-status>
      <app-individual-status></app-individual-status>
    </div>
  </div>
</div>
